Repository fintechstudios/vp-operator-demo-ff-virtual-2020: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-infrastructure-dev, rollback-infrastructure-dev, deploy-infrastructure-prod, rollback-infrastructure-prod, deploy-top-speed-dev, rollback-top-speed-dev

deploy-infrastructure-dev:
  image: registry.gitlab.com/gitlab-org/cluster-integration/auto-deploy-image:v0.1.0
  variables:
    TILLER_NAMESPACE: tiller
    HELM_HOST: localhost:44134
    CHART_DIR: charts/ff-sf2020
    RELEASE_NAME: ff-sf2020-top-speed-infrastructure
    CHART_NAME: infrastructure
    KUBE_NAMESPACE: ff-sf2020
  script:
  ...

rollback-infrastructure-dev:
  image: registry.gitlab.com/gitlab-org/cluster-integration/auto-deploy-image:v0.1.0
  variables:
    TILLER_NAMESPACE: tiller
    HELM_HOST: localhost:44134
    REVISION: '0'
    RELEASE_NAME: ff-sf2020-top-speed-infrastructure
    CHART_NAME: infrastructure
    KUBE_NAMESPACE: ff-sf2020
  allow_failure: false
  ...

deploy-infrastructure-prod:
  image: registry.gitlab.com/gitlab-org/cluster-integration/auto-deploy-image:v0.1.0
  variables:
    TILLER_NAMESPACE: tiller
    HELM_HOST: localhost:44134
    CHART_DIR: charts/ff-sf2020
    RELEASE_NAME: ff-sf2020-top-speed-infrastructure
    CHART_NAME: infrastructure
    KUBE_NAMESPACE: ff-sf2020
  script:
  ...

rollback-infrastructure-prod:
  image: registry.gitlab.com/gitlab-org/cluster-integration/auto-deploy-image:v0.1.0
  variables:
    TILLER_NAMESPACE: tiller
    HELM_HOST: localhost:44134
    REVISION: '0'
    RELEASE_NAME: ff-sf2020-top-speed-infrastructure
    CHART_NAME: infrastructure
    KUBE_NAMESPACE: ff-sf2020
  allow_failure: false
  ...

deploy-top-speed-dev:
  image: registry.gitlab.com/gitlab-org/cluster-integration/auto-deploy-image:v0.1.0
  variables:
    TILLER_NAMESPACE: tiller
    HELM_HOST: localhost:44134
    CHART_DIR: charts/ff-sf2020
    CHART_NAME: top-speed
    KUBE_NAMESPACE: ff-sf2020
    RELEASE_NAME: ff-sf2020-top-speed
  script:
  ...

rollback-top-speed-dev:
  image: registry.gitlab.com/gitlab-org/cluster-integration/auto-deploy-image:v0.1.0
  variables:
    TILLER_NAMESPACE: tiller
    HELM_HOST: localhost:44134
    REVISION: '0'
    CHART_NAME: top-speed
    KUBE_NAMESPACE: ff-sf2020
    RELEASE_NAME: ff-sf2020-top-speed
  allow_failure: false
  when: manual
  script:
  ...

feat: add flink conf
  charts/ff-sf2020/top-speed/values.yaml
Due: deploy-top-speed-dev, rollback-top-speed-dev

wip
  chart-tool.yaml
  charts/ff-sf2020/infrastructure/README.md
  charts/ff-sf2020/infrastructure/values.yaml
  charts/ff-sf2020/top-speed/README.md
  charts/ff-sf2020/top-speed/templates/vpdeployment.yaml
  charts/ff-sf2020/top-speed/values.yaml
Due: deploy-infrastructure-dev, rollback-infrastructure-dev, deploy-infrastructure-prod, rollback-infrastructure-prod, deploy-top-speed-dev, rollback-top-speed-dev

ci: add templates, update deployments
  .gitignore
  .gitlab-ci.yml
  ci/templates/README.md
  ci/templates/bazel/bazel.gitlab-ci.yml
  ci/templates/environments/environments.gitlab-ci.yml
  ci/templates/helm/helm.gitlab-ci.yml
  scripts/bazel-test-dotenv.sh
  scripts/tiller-init.sh
  scripts/tiller-start.sh
Due: deploy-infrastructure-dev, rollback-infrastructure-dev, deploy-infrastructure-prod, rollback-infrastructure-prod, deploy-top-speed-dev, rollback-top-speed-dev

docs: update readme
  README.md
Due: none

build: compile_time => provided
  WORKSPACE
  tools/flink/flink.bzl
Due: deploy-top-speed-dev, rollback-top-speed-dev

feat: make source configurable
  top_speed/src/main/java/com/fintechstudios/ff_sf2020/top_speed/TopSpeed.java
Due: none

ci: simplify ci
  charts/ff-sf2020/infrastructure/values.yaml
  ci/templates/bazel/bazel.gitlab-ci.yml
  ci/templates/environments/environments.gitlab-ci.yml
  ci/templates/helm/helm.gitlab-ci.yml
Due: deploy-infrastructure-dev, rollback-infrastructure-dev, deploy-infrastructure-prod, rollback-infrastructure-prod

ci: update job names
  ci/templates/helm/helm.gitlab-ci.yml
Due: none

ci: use sh directly
  ci/templates/helm/helm.gitlab-ci.yml
Due: none

ci: install bash, update bazel image
  ci/templates/bazel/bazel.gitlab-ci.yml
  ci/templates/helm/helm.gitlab-ci.yml
Due: none

test: add unit and int tests
  WORKSPACE
  ci/templates/bazel/bazel.gitlab-ci.yml
  top_speed/BUILD
  top_speed/src/main/java/com/fintechstudios/ff_sf2020/top_speed/TopSpeed.java
  top_speed/src/test/java/com/fintechstudios/ff_sf2020/top_speed/BUILD
  top_speed/src/test/java/com/fintechstudios/ff_sf2020/top_speed/CollectSink.java
  top_speed/src/test/java/com/fintechstudios/ff_sf2020/top_speed/CollectSinkTestSuite.java
  top_speed/src/test/java/com/fintechstudios/ff_sf2020/top_speed/Tags.java
  top_speed/src/test/java/com/fintechstudios/ff_sf2020/top_speed/TopSpeedTest.java
Due: deploy-top-speed-dev, rollback-top-speed-dev

ci: bazel-centric macros
  .gitlab-ci.yml
  ci/templates/bazel/bazel.gitlab-ci.yml
  ci/templates/helm/helm.gitlab-ci.yml
  scripts/artifact-sync.sh
  top_speed/BUILD
Due: deploy-infrastructure-dev, rollback-infrastructure-dev, deploy-infrastructure-prod, rollback-infrastructure-prod, deploy-top-speed-dev, rollback-top-speed-dev

ci: update readme, less-bash
  README.md
  ci/templates/helm/helm.gitlab-ci.yml
  scripts/tiller-init.sh
  scripts/tiller-start.sh
Due: none

ci: account for top_speed changes
  .gitlab-ci.yml
Due: deploy-infrastructure-dev, rollback-infrastructure-dev, deploy-infrastructure-prod, rollback-infrastructure-prod, deploy-top-speed-dev, rollback-top-speed-dev

ci: remove tiller-init script
  ci/templates/helm/helm.gitlab-ci.yml
Due: none

ci: make tiller-start posix
  scripts/tiller-start.sh
Due: none

ci: release when scripts change
  .gitlab-ci.yml
Due: deploy-infrastructure-dev, rollback-infrastructure-dev, deploy-infrastructure-prod, rollback-infrastructure-prod, deploy-top-speed-dev, rollback-top-speed-dev

ci: clean up templates
  ci/templates/helm/helm.gitlab-ci.yml
Due: none

ci: no more nohup
  ci/templates/helm/helm.gitlab-ci.yml
Due: none

feat: bash
  ci/templates/helm/helm.gitlab-ci.yml
Due: none

ci: correct yaml
  ci/templates/helm/helm.gitlab-ci.yml
Due: none

ci: no overriding entrypoint
  ci/templates/helm/helm.gitlab-ci.yml
Due: none

ci: re-export
  ci/templates/helm/helm.gitlab-ci.yml
Due: none

ci: tiller scripts
  ci/templates/helm/helm.gitlab-ci.yml
  scripts/tiller-init.sh
  scripts/tiller-start.sh
Due: none

feat: downgrade to flink 1.9.2, apiVersion v1beta1, tidy for presentation
  .gitlab-ci.yml
  README.md
  WORKSPACE
  charts/ff-sf2020/top-speed/README.md
  charts/ff-virtual-2020/infrastructure/.helmignore
  charts/ff-virtual-2020/infrastructure/Chart.yaml
  charts/ff-virtual-2020/infrastructure/README.md
  charts/ff-virtual-2020/infrastructure/deploy.sh
  charts/ff-virtual-2020/infrastructure/templates/NOTES.txt
  charts/ff-virtual-2020/infrastructure/templates/_helpers.tpl
  charts/ff-virtual-2020/infrastructure/templates/vpdeploymenttarget.yaml
  charts/ff-virtual-2020/infrastructure/templates/vpnamespace.yaml
  charts/ff-virtual-2020/infrastructure/uninstall.sh
  charts/ff-virtual-2020/infrastructure/values.yaml
  charts/ff-virtual-2020/infrastructure/vars.sh
  charts/ff-virtual-2020/top-speed/.helmignore
  charts/ff-virtual-2020/top-speed/Chart.yaml
  charts/ff-virtual-2020/top-speed/README.md
  charts/ff-virtual-2020/top-speed/deploy.sh
  charts/ff-virtual-2020/top-speed/templates/NOTES.txt
  charts/ff-virtual-2020/top-speed/templates/_helpers.tpl
  charts/ff-virtual-2020/top-speed/templates/params-properties-configmap.yaml
  charts/ff-virtual-2020/top-speed/templates/params-properties-secret.yaml
  charts/ff-virtual-2020/top-speed/templates/vpdeployment.yaml
  charts/ff-virtual-2020/top-speed/uninstall.sh
  charts/ff-virtual-2020/top-speed/values.yaml
  charts/ff-virtual-2020/top-speed/vars.sh
  ci/templates/helm/helm.gitlab-ci.yml
  top_speed/BUILD
  top_speed/src/main/java/com/fintechstudios/ff_virtual_2020/top_speed/BUILD
  top_speed/src/main/java/com/fintechstudios/ff_virtual_2020/top_speed/StandardConfiguration.java
  top_speed/src/main/java/com/fintechstudios/ff_virtual_2020/top_speed/TopSpeed.java
  top_speed/src/test/java/com/fintechstudios/ff_sf2020/top_speed/CollectSinkTestSuite.java
  top_speed/src/test/java/com/fintechstudios/ff_virtual_2020/top_speed/BUILD
  top_speed/src/test/java/com/fintechstudios/ff_virtual_2020/top_speed/CollectSink.java
  top_speed/src/test/java/com/fintechstudios/ff_virtual_2020/top_speed/CollectSinkExtension.java
  top_speed/src/test/java/com/fintechstudios/ff_virtual_2020/top_speed/MiniClusterExtension.java
  top_speed/src/test/java/com/fintechstudios/ff_virtual_2020/top_speed/Tags.java
  top_speed/src/test/java/com/fintechstudios/ff_virtual_2020/top_speed/TopSpeedTest.java
Due: deploy-infrastructure-dev, rollback-infrastructure-dev, deploy-infrastructure-prod, rollback-infrastructure-prod, deploy-top-speed-dev, rollback-top-speed-dev

feat: add distance modifier
  charts/ff-virtual-2020/top-speed/Chart.yaml
  charts/ff-virtual-2020/top-speed/templates/params-properties-configmap.yaml
  top_speed/src/main/java/com/fintechstudios/ff_virtual_2020/top_speed/TopSpeed.java
Due: none

feat: add distance modifier (#2)
  charts/ff-virtual-2020/top-speed/Chart.yaml
  charts/ff-virtual-2020/top-speed/templates/params-properties-configmap.yaml
  top_speed/src/main/java/com/fintechstudios/ff_virtual_2020/top_speed/TopSpeed.java
Due: none

feat: add apache 2 license
  LICENSE
Due: none

ci: use bazel query instead of test suites
  .gitlab-ci.yml
  BUILD
  README.md
  top_speed/BUILD
Due: deploy-infrastructure-dev, rollback-infrastructure-dev, deploy-infrastructure-prod, rollback-infrastructure-prod, deploy-top-speed-dev, rollback-top-speed-dev

ci: fetch instead of build
  .gitlab-ci.yml
Due: deploy-infrastructure-dev, rollback-infrastructure-dev, deploy-infrastructure-prod, rollback-infrastructure-prod, deploy-top-speed-dev, rollback-top-speed-dev

ci: rename job
  .gitlab-ci.yml
Due: deploy-infrastructure-dev, rollback-infrastructure-dev, deploy-infrastructure-prod, rollback-infrastructure-prod, deploy-top-speed-dev, rollback-top-speed-dev

build: upgrade flink, better use of bazel
  .bazelversion
  .gitlab-ci.yml
  BUILD
  README.md
  WORKSPACE
  tools/defs.bzl
  tools/flink/BUILD
  tools/flink/NoOp.java
  tools/flink/flink.bzl
  top_speed/src/main/java/com/fintechstudios/ff_virtual_2020/top_speed/BUILD
Due: deploy-infrastructure-dev, rollback-infrastructure-dev, deploy-infrastructure-prod, rollback-infrastructure-prod, deploy-top-speed-dev, rollback-top-speed-dev

ci: bump bazel, remove build
  ci/templates/bazel/bazel.gitlab-ci.yml
Due: none

Path conditions:
  deploy-infrastructure-dev: any of: charts/ff-sf2020/infrastructure/**/*, .gitlab-ci.yml
  rollback-infrastructure-dev: any of: charts/ff-sf2020/infrastructure/**/*, .gitlab-ci.yml
  deploy-infrastructure-prod: any of: charts/ff-sf2020/infrastructure/**/*, .gitlab-ci.yml
  rollback-infrastructure-prod: any of: charts/ff-sf2020/infrastructure/**/*, .gitlab-ci.yml
  deploy-top-speed-dev: any of: charts/ff-sf2020/top-speed/**/*, .gitlab-ci.yml, WORKSPACE
  rollback-top-speed-dev: any of: charts/ff-sf2020/top-speed/**/*, .gitlab-ci.yml, WORKSPACE
